<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/buttons.style.css">
  <title>Document</title>
</head>
<body>
  <a href="../index.html">home</a>
  <button onclick="location.href='../index.html'">
    Home
    <div class="home" to="/"></div>
  </button>


  <h1>button page</h1>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <a href="">Home</a>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ipsa hic. Nulla ipsa eius non magnam eligendi earum, consequuntur laboriosam sunt eaque iste quaerat velit vero? Reiciendis, recusandae corrupti aliquam odio aut eum ipsum possimus vero, repellat, quasi soluta nobis? Suscipit odio, incidunt commodi ad facere quis quibusdam vel quo?</p>
</body>
</html>