<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="../index.html">home</a>
  <h1>this is inputs page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A possimus, reprehenderit illo assumenda itaque dolores cumque dignissimos veniam quisquam, labore id molestiae doloremque sint asperiores eius. Dolorem cupiditate dolores quisquam dolorum necessitatibus ipsum nobis deleniti asperiores aliquam, quaerat unde, laborum adipisci totam velit perferendis quas eaque! Natus repellat reprehenderit quisquam, maxime commodi pariatur labore laborum libero, aut sed recusandae incidunt harum cum? Neque aliquam et tempora provident deserunt voluptatibus accusantium dolore culpa iusto? Quisquam dignissimos optio atque nulla amet unde officia pariatur consequuntur animi quod expedita, ad laborum totam architecto corrupti sint facilis nemo omnis et laboriosam vero! Veniam, animi?</p>
  <input type="text">
  <input type="checkbox">
  <input type="date">
</body>
</html>